<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Web</title>
    </head>
    <body>
        <form method="post">
            <div>
                <label for="email">Email</label>
                <input id="email" name="Email" />
            </div>
            <div>
                <label for="password">Password</label>
                <input id="password" name="password" type="password" />
            </div>
            <button>Submit</button>
        </form>
    </body>
</html>